:root {
  --primary-clr: #b38add;
}
* {
  margin: 0; /*要素の外の空白*/
  padding: 0; /*要素の中の空白*/
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh; /* ページの高さをブラウザの高さと同じにする */
  display: flex; /* 中身を横並びに */
  align-items: center; /* 中身を縦方向の真ん中に置く */
  justify-content: center; /* 中身を横方向の真ん中に置く */
  background-color: #e2e1dc; /* 背景の色を薄いグレーにする */
}

.container {
  position: relative; /* 他の要素に対して相対的な位置に配置する */
  width: 1200px; /* 幅を自動で決める（内容に応じて幅が決まる） */
  min-height: 850px; /* 最低の高さを850ピクセルにする */
  margin: 0 auto; /* 上下の余白は0、左右の余白は自動で中央揃えにする */
  padding: 5px; /* 内側の余白を5ピクセルにする */
  color: #fff; /* 文字の色を白にする */
  display: flex; /* 中身を横並びに */
  border-radius: 10px; /* 角を10ピクセル丸くする */
  background-color: #373c4f; /* 背景の色を濃い青にする */
}

.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* 中身を縦に並べる */
  flex-wrap: wrap; /* 中身を折り返すようにする（必要に応じて） */
  justify-content: space-between; /* 中身の間に均等な間隔をあける */
  color: #878895; /* 文字の色をグレーにする */
  border-radius: 5px; /* 角を5ピクセル丸くする */
  background-color: #fff; /* 背景の色を白にする */
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500; /* 文字の太さを中くらいにする */
  text-transform: capitalize; /* 各単語の最初の文字を大文字にする */
}

.calendar .month.perv .calendar .month.next {
  cursor: pointer;
}

.calendar .month.perv:hover .calendar .month.next:hover {
  color: var(--primary-clr);
}

.calendar .weekdays {
  width: 100%;
  height: 100pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 100pt;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover {
  /*hover:重なった時*/
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}

.calendar .event:hover::after {
  background-color: #fff;
}

.calendar .active.event::after {
  background-color: #fff;
  bottom: 20%;
}

.calendar .active.event {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}

.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  /* background-color: #fff; */
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}

.today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
}

.events {
  /* background-color: #fff; */
  width: 100%;
  height: 10%;
  min-height: 600px;
  overflow-x: hidden; /*はみ出た部分はx軸は隠す*/
  overflow-y: auto; /*はみ出た部分はy軸はに縦スクロール*/
  display: flex;
  flex-direction: column; /*並べる方法は縦*/
  padding: 4px;
}
.events .event {
  /* background-color: #373c4f; */
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  cursor: pointer; /*載せたときにカーソルの画像を変化*/
  background: linear-gradient(
    90deg,
    #3f4458,
    transparent
  ); /*90deg:矢印の向きを左から右に，transparent:まだわからん*/
}

.events .event:nth-child(even) {
  background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none; /*カーソルが上に乗った時なにも変更しない*/
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.events .event .title i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}

.events .event:hover .title i .events .event:hover .event-time {
  color: #fff;
}

.events .event .title .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}

.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  display: none; /*表示しない*/
  align-items: center;
  justify-content: center;
  opacity: 0.3; /*透明度*/
  color: var(--primary-clr);
  transform: translateY(-50%);
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878787;
}

.events .event:hover::after {
  display: flex;
}

.todos {
  /* background-color: #fff; */
  width: 100%;
  height: 10%;
  min-height: 400px;
  overflow-x: hidden; /*はみ出た部分はx軸は隠す*/
  overflow-y: auto; /*はみ出た部分はy軸はに縦スクロール*/
  display: flex;
  flex-direction: column; /*並べる方法は縦*/
  padding: 4px;
  border-top: solid var(--primary-clr);
}

.todos .todo {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  cursor: pointer; /*載せたときにカーソルの画像を変化*/
  /* background: linear-gradient(
    90deg,
    #3f4458,
    transparent
  ); 90deg:矢印の向きを左から右に，transparent:まだわからん */
}

.todos .todo:nth-child(even) {
  background: transparent;
}
.todos .todo:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.todos .todo .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.todos .todo .title .todo-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 20px;
}

.todos .todo .title i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}

.todos .todo:hover .title i {
  color: #fff;
}

.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s;
}
.add-event-wrapper.active {
  max-height: 300px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-event-header .close:hover {
  columns: var(--primary-clr);
}

.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}

.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
  border-color: var(--primary-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}

.add-event-btn:hover {
  columns: var(--primary-clr);
  border-color: transparent;
}

.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.add-event:hover {
  opacity: 1;
}

.add-event i {
  pointer-events: none;
}
